*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: all 0.3s ease-in-out;

    font-family: 'roboto' ,sans-serif;


}

body{
    margin: 0;
    padding: 0;
    /* background-color: var(--dark-color); */
}

:root{
    --primary-color:#DBE2EF;
    --secondary-color:#3F72AF;
    --white-color:#F9F7F7;
    --dark-color:#112D4E
}

.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


    padding: 1rem 2rem;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0.1);

    z-index: 6;

}
.app__navbar-wrapper{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.app__navbar-menu{
    width: 34px;
    height: 34px;

    border-radius: 50%;
    background-color: var(--secondary-color);
    margin-right: 3rem;
    cursor: pointer;
}
.app__navbar-menu svg{
    width:70%;
    height:70%;
}
.app__navbar-menu svg path{
    color: #fff;
}
.app__navbar-menu-list{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 6;

    background-color: var(--dark-color);
    transform: translateX(-100%);
}
.app__navbar-menu-list a{
    text-decoration: none;

    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 2rem 0;
}
.app__navbar-menu-list a:hover{
    color: var(--secondary-color);
}
.app__navbar-menu-list svg{
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    margin: 1.3rem 2rem 0 0;
    cursor: pointer;
}
.app__navbar-menu-list svg:hover{
    transform: scale(1.1);
}

.navbar h1{
    color: var(--secondary-color);
    font-weight: 600;

    cursor: pointer;
}

.navbar-row{
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: center;

}

.navbar-row a{
    font-weight: 500;
    text-decoration: none;

    color: var(--primary-color);
    margin: 0 2rem;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}
.navbar-row a:hover{
    color: var(--secondary-color);
}

.light{
    background-color: var(--white-color);
    transition: all 0.3s ease-in-out;

    
}
.light .navbar-row a{
    color: var(--dark-color);
    transition: all 0.3s ease-in-out;
}

.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;


}

.container{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1rem 0 4rem 0;
    z-index: 4;
}

.home-content{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.home-content .head-text{
    color: var(--primary-color);
}
.home-content div{
    padding: 1rem 2rem;
    margin-top: 1.5rem;
    border-radius: 5px;
    font-size: 1.1rem;

    background-color: var(--primary-color);
    color:#000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.home-content div a{
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease-in-out;

}
.home-content div:hover{
    background-color: var(--secondary-color);
}
.home-content div:hover a{
    color: #fff;
}

.app__home-background{
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.app__home-background img{
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}
.app__home-background::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.83);
    z-index: 2;
}



.app__courses{
    width: 100%;
    min-height: 100vh;

}
.app__courses-cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    margin-top: 4rem;
}
.app__courses-card{
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid var(--primary-color);
    border-radius: 10px;
    margin: 1rem;

    transition: all 0.3s ease-in-out;
}
.app__courses-card img{
    width: 100%;
    min-height: 230px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 10px 10px 0 0;
}
.card-content{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
        
    padding: 1rem;

    background-color: var(--primary-color);
}

.card-content h2{
    font-size: 1.2rem;
    font-weight: 500;

}
.app__courses-card:hover{
    box-shadow: 0 0 23px rgba(0,0,0,0.1);
}

.p-text{
    color: rgb(120, 120, 120);
    margin-top: 5px;
    text-align: left;
    font-size: 1rem;

}

.app__courses-activities{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2rem;
}
.app__courses-activities ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    list-style: none;

}
.app__courses-activities ul li{
    text-decoration: none;

    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: var(--white-color);

    font-weight: 700;
    cursor: default;

}
.app__courses-activities ul li:hover{
    box-shadow: 0 0 25px rgba(178, 200, 214, 0.2);
}


.app__abouts{
    width: 100%;
    min-height: 100vh;

    background-color: var(--primary-color);

}
.app__abouts .para{
    margin-top: 2rem;
}

.app__abouts-team{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.app__abouts-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 2rem 0;
    background-color: var(--white-color);
    border-radius: 8px;
}
.app__abouts-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;

    /* background-color: #F9F7F7; */
    cursor: default;
    transition: all 0.3s ease-in-out;


}
.app__abouts-card img{
    width: 150px;
    height: 150px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 50%;
}

.app__abouts-card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* margin-left: 1.3rem; */
    margin-top: 1.1rem;

}
.app__abouts-card-info h4{
    font-weight: 800;
    color: var(--dark-color);
    font-size: 1.1rem;
}
.app__abouts-card-info p{
    font-weight: 500;
    color: #686868;

    margin-top: 4px;
}


.app__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2rem;

    background-color: var(--dark-color);
}
.app__footer-left{
    height :100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}
.app__footer-left h1{
    color: #fff;
    font-weight: 800;

}
.app__footer-social{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
.app__footer-social div{
    width: 40px;
    height: 40px;
    cursor: pointer;

    border-radius: 50%;
    margin: 0 0.2rem;
}
.app__footer-social div svg{
    width: 50%;
    height: 50%;

}
.app__footer-social div svg path{
    fill: var(--primary-color);
}
.app__footer-social div:hover{
    background-color: var(--secondary-color);
}
.app__footer-social div:hover svg path{
    fill: #fff;
}

.app__footer-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;

}
.app__footer-right a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;

    margin: 0.5rem 0;
    text-align: left;
}

.app__footer-right a:hover{
    text-decoration: underline;
}

.app__contact{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.app__contact-form{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 1rem;
}
.app__contact-form input,textarea{
    width: 80%;

    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    outline: none;
    border: 0;
    border-radius: 8px;
    margin: 1rem 0;
}
.app__contact-form input:hover,textarea:hover{
    box-shadow: 0 0 23px rgba(0,0,0,0.1);
}
.app__contact-form button{
    color: var(--white-color);
    font-weight: 600;
    background-color: var(--secondary-color);
    padding: 1rem 2rem;
    border-radius: 5px;
    margin: 1rem;
    text-align: center;
    outline: none;
    border: 0;
    cursor: pointer;
}










.app__flex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.head-text{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.3;

    margin-top: 4rem;
}
.head-text span{
    color: var(--secondary-color);
}
.sub-head-text{
    margin:3rem 0 0 3rem;
    text-align: left;
    width: 100%;
}

@media screen and (min-width:1200px) {
    .container{
        width: 60%;
    }
    .head-text{
        font-size: 4rem;
    }
}

@media screen and (max-width:768px) {
    .navbar-row a{
        margin: 0 1.2rem;
    }
    
}
@media screen and (min-width:481px) {
    .app__navbar-menu{
        display: none;
    }
    
}

@media screen and (max-width:480px) {
    .navbar{
        padding: 1rem;
    }
    .container{
        width: 90%;
    }
    .head-text{
        font-size: 2rem;
    }
    .navbar-row{
        display: none;
    }

    

    .app__abouts-card{
        width: 100%;
    }
    .app__footer{
        flex-direction: column-reverse;
    }
    .app__footer-left{
        margin-top: 1rem;
    }
}